* {
  margin: 0;
  padding: : 0;
  box-sizing: border-box;
}

body {
  background-color: #ADD8E6;
}
.clearfix::after {
  content:"";
  display: table;
  clear: both;

}

.container {
  text-align: center;
  padding: 10px 27px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
}


img.pattern {
  width: 100%;
  height: 100%;
}

[class^="carta"] {
  margin: 10px calc(28% / 8);
  float: left;
  position: relative;
  width: 18%;
  height: 180px;
}

.img-carta-pattern {
  background-position: center;
  background-size: contain;
  background-image: url('../img/pattern.png');
  width: 100%;
  height: 100%;
  border-radius: 10px;
}





.image-carta-main {
  border-radius: 10px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
}


.image-carta-main img {
  width: 100%;
  height: 100%;
}

/* 1 riga */
.display-none1{
  display: none;
  z-index: 1;
}

.carta1:hover .display-none1{
  display: block;
}

.display-none2{
  display: none;
  z-index: 1;
}

.carta2:hover .display-none2{
  display: block;
}

.display-none3{
  display: none;
  z-index: 1;
}

.carta3:hover .display-none3{
  display: block;
}

.display-none4{
  display: none;
  z-index: 1;
}

.carta4:hover .display-none4{
  display: block;
}
/* 1 riga */


/* 2 riga */
.display-none5{
  display: none;
  z-index: 1;
}

.carta5:hover .display-none5{
  display: block;
}

.display-none6{
  display: none;
  z-index: 1;
}

.carta6:hover .display-none6{
  display: block;
}

.display-none7{
  display: none;
  z-index: 1;
}

.carta7:hover .display-none7{
  display: block;
}

.display-none8{
  display: none;
  z-index: 1;
}

.carta8:hover .display-none8{
  display: block;
}
 /* 2riga */
 .display-none9{
   display: none;
   z-index: 1;
 }

 .carta9:hover .display-none9{
   display: block;
 }

 .display-none10{
   display: none;
   z-index: 1;
 }

 .carta10:hover .display-none10{
   display: block;
 }

 .display-none11{
   display: none;
   z-index: 1;
 }

 .carta11:hover .display-none11{
   display: block;
 }

 .display-none12{
   display: none;
   z-index: 1;
 }

 .carta12:hover .display-none12{
   display: block;
 }
